
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.n {
    height: 100px;
    background-color: rgb(0, 0, 0);
}

.t {
    color: white;
}

.ht {
    font-size: 30px;
    transition: transform ease 0.2s;
}

.ht:hover {
    color: rgb(172, 172, 172);
    transform: scale(1.03);
}

.lk {
    height: 27px;
    transition: ease 0.4s;
}

.lk:hover {
    border-bottom: 1px solid white;
}

.link {
    color: white;
    border-bottom: none;
}

.link:hover {
    color: white;
}